<form action="/names" method="post">
  <input type='text' name= "player1">
  <input type='text' name= "player2">
  <input type="submit" value="Save">
</form>

<div/><div>
<h1 class=></h1>

<h1 class='p2 current' ></h1>
