<table>
  <tr>
    <th><h1><%= @player1 %></h1></th>
    <th><h2>vs.</h2></th>
    <th><h1><%= @player2 %></h1></th>
  </tr>
  <tr>
    <td><div class="hitpoints" id="player1"> 50 </div></td>
    <td></td>
    <td><div class="hitpoints" id="player2"> 50 </div></td>
  </tr>
</table>
